:root {
	--body: #eee;
	--content: white;

	--text: #191919;
	--text-secondary: #4c4c4c;

	--hover: #eee;
	--shadow: rgba(0, 0, 0, 0.15);
	--border: #d3d3d3;
	--input-bg: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #1f1f1f;
		--content: #1b1b1b;

		--text: white;
		--text-secondary: #8f8e8e;

		--hover: rgba(255, 255, 255, 0.1);
		--shadow: rgba(255, 255, 255, 0.05);
		--border: rgba(255, 255, 255, 0.1);
		--input-bg: #191919;
	}
}

/* Basic styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	background: var(--body);
	color: var(--text);
	margin: 0;
}